@import "config";

.buttons {
  max-width: $max-width;
  margin: 0 auto $gutter*2 auto;

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  &__row {
    @include row;
    justify-content: center;
  }
}
