@import "config";

.readLecture {
  max-width: $max-width;
  margin: 0 auto;

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  &__row {
    @include row;
    margin-bottom: $gutter * 2;
    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);
    margin-bottom: $gutter * 2;

    @media (min-width: 850px) {
      @include columns(8);

      @include offset-left(2);
    }
  }

  &__buttons {
    margin-bottom: $gutter * 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    max-width: 300px;
    padding: 10px 20px;
    margin-bottom: $gutter * 2;

    font-family: $font-heading;
    font-size: 1rem;
    font-weight: normal;

    color: $color-1;
    text-align: center;
    text-decoration: none;
    
    background-color: transparent;
    border: transparent;

    cursor: pointer;
    outline: none;

    &--link {
      text-decoration: none;

      &:visited {
        color: $color-1;
      }
    }

    &--finished {
      color: $color-5;
    }
  }
}